*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: -webkit-linear-gradient(10deg, rgb(144, 87, 201), rgb(123, 191, 230));
    color: rgb(236, 228, 228);
    font-family: 'Open Sans', sans-serif;   
}

header,form{
    display: flex;
    text-align: center;
    justify-content: center;
}


h1{
    margin-top: 20px;
}

form input, form button{
    padding: 20px;
    border: none;
    margin-top: 30px;
    font-size: 19px;
}

form button{
    color: rgb(144, 87, 201) ;
    cursor: pointer;
    transition :all 0.3sec ease;
}

form button:hover{
    background-color:aqua ;
    color: rgb(10, 43, 71);

}